.root {
    -fx-background-color: #01a1fa;
}
.label {
    -fx-background-color: green;
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-font-size: 25px;
    -fx-text-fill: "#ffffff";
}
#custom-label {
    -fx-background-color: black;
    -fx-font-family: "Lucida Console", "Courier New", monospace;
    -fx-font-size: 40px;
    -fx-text-fill: "#f0000f";
}